#Navbar{
    background-color: gray;
    display: grid;
    grid-template-columns: 30% 70%;
}
#navlist{
    list-style: none;
    background-color: gray;
}
#navlist>li{
    display: inline-block;
    font-size: 25px;
    margin-right: 100px;
}
#logo{
    width: 100px;
    border-radius: 100px;
}
.link{
    text-decoration: none;
    color: white;
}
.active{
    color: green;
}
.link:hover{
    color: blue;
}
#logo:hover {
width:250px;
}
#aria{
    text-align: center;
    display: grid;
    grid-template-areas:
    'aria2 aria3 aria3 aria4'
    'aria2 aria3 aria3 aria4'
    'aria2 aria5 aria5 aria5'
    'aria2 aria5 aria5 aria5';
}

#aria2{
grid-area: aria2;
}
#aria3{
grid-area: aria3;
}
#aria4{
grid-area: aria4;
}
#aria5{
grid-area: aria5;
}
#sidebar {
    background-color: gray;
    padding: 20px;
    width: 100%;
    height: 100px 
}
#navlist2 {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: gray;
}
#navlist2 > li {
    display: block;
    font-size: 25px;
    margin: 120px 0;
    text-align: center;
    
}

.link1 {
    text-decoration: none;
    color: white;
}

.link1:hover {
    color: blue;
}
.active2{
    color: green;
}

