#Navbar{
    background-color: white;
    display: grid;
    grid-template-columns: 30% 70%;
    box-shadow: white;
}
#navlist{
    list-style: none;
    background-color: white;
}
#navlist>li{
    display: inline-block;
    font-size: 15px;
    margin-right: 100px;
    align-items: center;

    
}
#logo{
    width: 150px;
    border-radius: 100px;
}
.mt{
    background-color: #D3D3D3;
}
.tm{
    margin-top: 5em;
    margin-right: 5em;
}
#btn{
    color: white;
    background-color: orangered;
    font-size: 20px;
}