.navbar-nav{
    margin-left: 30%;
}
#cont{
    margin-right: 10%;
}
#cont>svg{
    margin-right: 10px;
}
#soical{
    margin-right: 10%;
}
#soical>svg{
    margin-right: 10px;
}
h3{
    font-family: cursive;
}
.conter{
text-align: center;
justify-content: space-between;
padding: 50px;
background-color: #f9f9f9;
width: 100vw; /* عرض العنصر بالكامل */
height: 80vh; /* ارتفاع العنصر بالكامل */

}
.content{
    width: 50%;
}
h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 20px;
}
#btn{
    background-color: orangered;
    color: white;
    font-size: 20px;
}
span{
    margin-left: 10px;
}
#org{
    color: orangered;
}